.map-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* 화면 전체 높이를 차지하도록 변경 */
}

.map {
    width: 100%;
    height: 100%;
}

.search-tab {
    position: absolute;
    width: 300px;
    top: 20px;
    /* 위치 조정 */
    left: 20px;
    /* 위치 조정 */
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    /* 패딩을 조금 더 키움 */
    border-radius: 10px;
    /* 경계선 반경을 키워 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 그림자 조정 */
    height: 40px;
    z-index: 99;
    /* 검색 결과보다 위에 표시되도록 설정 */
}

.search-tab.open {
    position: absolute;
    width: 300px;
    top: 20px;
    /* 위치 조정 */
    left: 20px;
    /* 위치 조정 */
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    /* 패딩을 조금 더 키움 */
    border-radius: 10px;
    /* 경계선 반경을 키워 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 그림자 조정 */
    height: 85%;
    z-index: 99;
    /* 검색 결과보다 위에 표시되도록 설정 */
}

.map-toggle-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    /* 경계선 반경을 키움 */
}

.search-tab-content {
    margin-top: 10px;
    height: 90%;
}

.search-tab-content input {
    width: calc(100% - 20px);
    /* 입력 필드의 너비 조정 */
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* 경계선 반경을 키움 */
}

.search-tab-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.search-tab-content ul {
    list-style-type: none;
    padding-left: 0;
}

.search-tab-content li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.search-tab-content li:last-child {
    border-bottom: none;
}

.map-search-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    /* 경계선 반경을 키움 */
    margin: 10px 0 10px 0;
}

.map-search-result {
    height: 85%;
    overflow-y: auto;
}
