.container {
    height: 100%;
    display: flex;
}

.sidebar-container {
    height: 100%;
    width: 5%;
    min-width: 100px;
}

.sidebar {
    border: 1px solid #000;
    height: 100%;
}

.sidebar-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    margin: 5% 0 0 0;
}

.content-container {
    height: 100%;
}