.step2-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.place-container {
    width: 350px;
    padding: 0 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height: 100%;
}

.places-list {
    margin-top: 20px;
}

.place-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.place-item h3 {
    margin: 0;
}

.place-item p {
    margin: 5px 0;
}

.selected-places {
    min-width: 250px;
}

.selected-place-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.selected-place-item h3 {
    margin: 0;
}

.selected-place-item p {
    margin: 5px 0;
}

/* 모달 */
.custom-modal-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.custom-modal-message.show {
    opacity: 1;
    visibility: visible;
}

.custom-modal-message.fade-out {
    opacity: 0;
    visibility: hidden;
}