.step2-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.place-container {
    width: 350px;
    padding: 0 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height: 100%;
}

.place-container p {
    display: flex;
    justify-content: center;
}

.add-place-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.add-place-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 1s ease;
}

.add-place-form input:focus {
    border-color: #5fb1aa;
    outline: none;
}


.add-place-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    border-radius: 5px;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23999" d="M2 5L4 2H0z"/></svg>') no-repeat right 10px center;
    background-size: 10px;
    background-color: #f9f9f9;
}

.add-place-form select option {
    color: #333;
    background-color: #fff;
}

.step2-container .share-btn {
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
    background-color: #5fb1aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 60px;
}

.step2-container .add-btn {
    margin: 10px auto;
    padding: 5px;
    cursor: pointer;
    background-color: #5fb1aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 60px;
    min-width: 60px;
}

.step2-container .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn svg {
    fill: #ff5f5f;
}

.delete-btn:hover svg {
    background-color: #ccc;
    border-radius: 5px;
    fill: #ff0000; 
}

.place-item-container {
    border-bottom: 1px solid #0000001e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.place-item h3 {
    margin: 0;
}

.place-item p {
    margin: 5px 0;
}

.selected-places {
    width: 350px;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100%;
}

/* 모달 */
.custom-modal-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.custom-modal-message.show {
    opacity: 1;
    visibility: visible;
}

.custom-modal-message.fade-out {
    opacity: 0;
    visibility: hidden;
}