.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.time-inputs label {
    margin-bottom: 5px;
}

.time-inputs input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-actions button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5fb1aa;
    color: white;
}

.modal-actions button:first-child {
    background-color: #ccc;
}
